{% extends "layouts/base.html" %}

{% block title %} Synthèse {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-bulb-63 text-primary"></i>Bienvenue !</h3>
          </div>
          <div class="card-body">
              <p> Sur le total des inscrits, <b>{{ pct_payment }}%</b> ont payé.</p>
              <div class="chart" id="indic_money">
              <script>
                  var graphs = {{money| safe}};
                  Plotly.newPlot('indic_money',graphs.data,graphs.layout, config);  
              </script>
            </div>
          </div>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-chart-bar-32 text-primary"></i>Liste personnes n'ayant pas payé:</h3>
          </div>
          <div class="card-body">
            {{ non_payment_df |safe }}
          </div>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-chart-bar-32 text-primary"></i>Liste personnes ayant payé:</h3>
          </div>
          <div class="card-body">
          {{ payment_df |safe }}
        </div>
      </div>
    </div>

    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}
