{% extends "layouts/base.html" %}

{% block title %} Connexion {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-8">
      <div class="card">

        <form role="form" method="post" action="">
        
          {{ form.hidden_tag() }} 

          <div class="card-header">
            <h3 class="title">S'inscrire ou modifier son inscription</h3>
            <p>Bievenu sur la page d'inscription pour la soirée GRIaD!</p>
            <p>Rentrez votre adresse mail pour vous inscrire ou modifier votre inscritpion</p>
          </div>

          <div class="card-body">

              <div class="row">

                <div class="col-md-3 px-md-1">
                  <div class="form-group">
                    <label>Email</label>
                    {{ form.email(class="form-control") }}
                  </div>
                </div>

              </div>

              
          </div>
          <div class="card-footer">
            <button type="submit" name="login" class="btn btn-fill btn-primary">Se connecter</button>
            &nbsp; &nbsp;
            <!-- Vous n'avez pas de compte? <a href="{{ url_for('base_blueprint.register') }}" class="text-primary">En créer un</a> -->
          </div>

        </form>

      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
