

      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a target="_blank" rel="noopener noreferrer"
                 href="https://grid-tech.fr" class="nav-link">
                &copy; GRID 2021
              </a>
            </li>
          </ul>
          <div class="copyright">
            &copy; <a target="_blank" rel="sponsored noopener noreferrer" 
                      href="https://bit.ly/3fKQZaL">Creative-Tim</a> 
            - coded by <a target="_blank" rel="noopener noreferrer" href="https://appseed.us">AppSeed</a>, adapted for <a href="https://grid-tech.fr">the GRID</a>
          </div>
        </div>
      </footer>
      
