

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <!--<a target="_blank" rel="sponsored noopener noreferrer" 
             href="https://grid-tech.fr" class="simple-text logo-mini">
            <img src="/static/assets/img/Logo_N&B.svg" alt="Profile Photo">
          </a>-->
          <a target="_blank" rel="sponsored noopener noreferrer" 
             href="https://grid-tech.fr" class="simple-text logo-normal">
            Chateau FIFG
          </a>
        </div>

        <ul class="nav">
        {% if current_user.is_authenticated %}
         <li class="{% if 'maps' in segment %} active {% endif %}">
            <a href="/dashboard">
              <i class="tim-icons icon-world2"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="{% if 'maps' in segment %} active {% endif %}">
            <a href="/list">
              <i class="tim-icons icon-world2"></i>
              <p>Liste des inscrits</p>
            </a>
          </li>
          <li class="{% if 'maps' in segment %} active {% endif %}">
            <a href="/paiement">
              <i class="tim-icons icon-world2"></i>
              <p>Liste des paiements</p>
            </a>
          </li>
          <li class="{% if 'maps' in segment %} active {% endif %}">
            <a href="/invite_list">
              <i class="tim-icons icon-world2"></i>
              <p>Liste intiale des invités</p>
            </a>
          </li>
        <li class="active">
            <a target="_blank" 
               href="https://grid-tech.fr">
              <i class="tim-icons icon-link-72"></i>
              <p>GRID Website</p>
            </a>
          </li>  
          {% else %}
          <li class="active">
            <a target="_blank" 
               href="https://grid-tech.fr">
              <i class="tim-icons icon-link-72"></i>
              <p>GRID Website</p>
            </a>
          </li>   
          {% endif %}
                    
        </ul>
        
      </div>
    </div>
