

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <!--<a target="_blank" rel="sponsored noopener noreferrer" 
             href="https://grid-tech.fr" class="simple-text logo-mini">
            <img src="/static/assets/img/Logo_N&B.svg" alt="Profile Photo">
          </a>-->
          <a target="_blank" rel="sponsored noopener noreferrer" 
             href="https://grid-tech.fr" class="simple-text logo-normal">
            Chateau FIFG
          </a>
        </div>

        <ul class="nav">
        {% if current_user.is_authenticated %}

          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Synthèse</p>
            </a>
          </li>
		  <li class="{% if 'maps' in segment %} active {% endif %}">
            <a href="/env">
              <i class="tim-icons icon-world2"></i>
              <p>Environnement</p>
            </a>
          </li>
		  <li class="{% if 'maps' in segment %} active {% endif %}">
            <a href="/soc">
              <i class="icon icon-heart-2"></i>
              <p>Social</p>
            </a>
          </li>
		  <li class="{% if 'maps' in segment %} active {% endif %}">
            <a href="/gouv">
              <i class="icon icon-multiple-11"></i>
              <p>Gouvernance</p>
            </a>
          </li>
          <li class="{% if 'maps' in segment %} active {% endif %}">
            <a href="/finance">
              <i class="tim-icons icon-money-coins"></i>
              <p>Finance</p>
            </a>
          </li>
          <li class="{% if 'notifications' in segment %} active {% endif %}">
            <a href="/questionnaire">
              <i class="tim-icons icon-bell-55"></i>
              <p>Questionnaire</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('base_blueprint.logout') }}" >
              <i class="tim-icons icon-button-power"></i>
              <p>Déconnexion</p>
            </a>
          </li>
          <a target="_blank" rel="sponsored noopener noreferrer" 
             href="https://grid-tech.fr" class="simple-text logo-mini">
            <img src="/static/assets/img/LogoH_Blanc.svg" alt="Profile Photo">
          </a>
          {% else %}
          <li class="active">
            <a target="_blank" 
               href="https://grid-tech.fr">
              <i class="tim-icons icon-link-72"></i>
              <p>GRID Website</p>
            </a>
          </li>   
          {% endif %}
                    
        </ul>
        
      </div>
    </div>
